{% extends "common/base.html" %}

{% block title %} Project Canary - Register {% endblock %}
{% block content %}

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Don't let the job market cave in on you!</h1>
                <p>Sign up for Project Canary today and get the help you need to make the connections you need to make in the employment world!</p>
                <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
            
            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Job Centers</h2>
                    <p>Connecting your clients with great employers has never been simpler. Create hiring cycles to group related employers and candidates and streamline the hiring process. Don't waste another second!</p>
                    <p><a class="btn" href="owner/register">Register &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2>Employers</h2>
                    <p>Get access to a larger, more organized pool of candidates to help improve your business. Join hiring cycles to access professionals tailored to your needs. Get instant access today!</a></p>
                    
                    <p><a class="btn" href="employer/register">Register &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2>Job Seekers</h2>
                    <p>Finding the job shouldn't be the hardest part of the interview! Get access to the best employers available to you, whenever you need them. Join a job cycle today to have immediate access to hundreds of opportunities. </p>
                    <p><a class="btn" href="user/register">View details &raquo;</a></p>
                </div>
            </div>
            
            <hr>
            
            <footer>
                <p>&copy; Company 2013</p>
            </footer>
                    
        <script src="{{STATIC_URL}}booststrap/js/bootstrap.min.js"></script>
{% endblock %}