
{% extends "base.html" %}

{% block title %} Jobs - {{user.name}} {% endblock %}

{% block content %}
{% if applications %}
<table>
    <th>
        <td> Title </td>
        <td> Company </td>
        <td>Description </td>
        <td>Status</td>
    {% for app in applications %}
    <tr>
        <td> {{app.name}} </td>
        <td> {{app.job.company.name}} </td>
        <td> {{app.description </td>
        <td> {{app.status}} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="container">
    No active applications
</div>
{% endif %}
{% endblock %}