{% extends "base.html" %}

{% block title %} Applications - {{job.title}} - {{job.company}} {% endblock %}

{% block content %}
<h2>Applications for {{job.title}} at <a href="/employer/profile?id={{job.company.id}}">{{job.company}} </a></h2>
{% if applications %}
<table class="data-tables">
    <thead>
    <tr>
        <th>Applicant</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {% for app in applications %}
    <tr>
        <td> <a href="/user/profile?id={{app.candidate.id}}"> {{app.candidate.name}} </a> </td>
        <td> {{app.description}} </td>
        <td> {{app.status}} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="container">
    No active applications
</div>
{% endif %}
{% endblock %}

